* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   margin: 0 auto;
   margin-top: 3px;
   width: 45vw;
   height: 98vh;
   border: 3px solid black;
   display: grid;
}

.box {
   margin: 0.4rem;
   border: 3px solid black;
   display: flex;
}

.box-gray {
   border: 3px solid gray;
   width: 50%;
   margin: 2px;    
   display: grid;
}

.box div {
  margin: 0.25rem;
}

.box-gray-1 > .box-red {
   grid-column: 1 / 3;
   border: 3px solid red;
}

.box-gray-1 > .box-green {
   border: 3px solid green;
}

.box-gray-1 > .box-blue {
   border: 3px solid blue;
}

.box-gray-2 {
   grid-template-columns: 30% 70%;  
}

.box-gray-2 > .box-red {
   border: 3px solid red;
}

.box-gray-2 > .box-green {
   border: 3px solid green;
}

.box-gray-2 > .box-blue {
   grid-column: 1 / 3;
   border: 3px solid blue;
}

.box-2 {
   justify-content: space-between;  
   align-items: center;
}

.box-2 div {
   width: 18%;
}

.box-2 > .box-red {
   grid-column: 1 / 3;
   border: 3px solid red;
   height: 85%;
   width: 22%;
}

.box-2 > .box-green {
   border: 3px solid green;
   height: 75%;
}

.box-2 > .box-blue {
   border: 3px solid blue;
   height: 80%;
}

.box-gray-3 {
   grid-template-columns: auto auto;
}

.box-gray-3 > .box-red {
   grid-row: 1 / 3;
   border: 3px solid red;
}

.box-gray-3 > .box-green {
   border: 3px solid green;
}

.box-gray-3 > .box-blue {
   border: 3px solid blue;
}

.box-invisible {
  grid-column: 1 / 3;
  display: flex; 
  justify-content: space-between;
}

.box-invisible > .box-red {
   width: 40%;
   border: 3px solid red;
   margin: 0;
}

.box-invisible > .box-green {
   width: 40%;
   border: 3px solid green;
   height: 85%;
   margin: 0;
}

.box-gray-4 > .box-blue {
   grid-column: 1 / 3;
   border: 3px solid blue;
}
