* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
    margin: 0 auto;
    margin-top: 3px;
    width: 60vw;
    height: 98vh;
    border: 3px solid black;
    display: grid;
}

.box {
    margin: 0.25rem;
    border: 3px solid black;
    display: flex;
}

.box-1 > .box-red {
    border: 3px solid red;
    width: 30%;
    height: 100%;
}

.box-1 > .box-green {
    border: 3px solid green;
    width: 55%;
    height: 100%;
}

.box-1 > .box-blue {
    border: 3px solid blue;
    width: 15%;
    height: 100%;
}

.box-2 > .box-red {
    border: 3px solid red;
    width: 15%;
    height: 100%;
}

.box-2 > .box-green {
    border: 3px solid green;
    width: 70%;
    height: 100%;
}

.box-2 > .box-blue {
    border: 3px solid blue;
    width: 17%;
    height: 100%;
}

.box-3 {
   display: flex;
   justify-content: center;
}

.box-3 > .box-red {
    border: 4px solid red;
    width: 16%;
    height: 100%;
}

.box-3 > .box-green {
    border: 4px solid green;
    width: 16%;
    height: 100%;
    margin-right: 6.25rem
}

